.cocktail {
  display: flex;
  flex-direction: row;
}

.back-button {
  cursor: pointer;
  margin: 1rem 1rem;
}

.cocktail-display--left-column {
  border: 1px solid red;
  margin: 1rem;
  padding: 1rem;

  img {
    width: 18rem;
  }
}

.cocktail-display--right-column {
  border: 1px solid green;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
}

.horizontal-cocktail-ingredients {
  display: flex;
  flex-direction: row;
  
  div {
    border: 1px solid orange;
    margin: .5rem;
    padding: .3rem;
  }

  img {
    width: 6rem;
  }
}

.rating-star {
  width: 3rem;
  margin: .3rem;
  cursor: pointer;
}

.vertical-cocktail-ingredients {

}

.vertical-ingredient-tile {
  border: 1px solid purple;
  display: flex;
  margin: 1rem;
  align-items: center;

  img {
    height: 4rem;;
  }
}