@import './components/CocktailDisplay/CocktailDisplay';
@import './components/CocktailTile/CocktailTile';
@import './components/MainDisplay/MainDisplay';
@import './components/Menu/Menu';
@import './components/UserDisplay/UserDisplay';

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

body {
  margin: 0;
  font-family: 'Mochiy Pop P One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1 {
  color: purple;
}

.header {
  font-size: 2.5rem;
}

.subhead {
  font-size: 1.5rem;
}